body{
    padding: 0px;
    margin: 0px;
    background: #e1e1e1;
}
.header{
    background: rgba(0, 0, 0, 0.9);
    padding: 6px 24px;
    text-align: left;
    color: white;
    margin: 0px;
    letter-spacing: 1px;
    font: caption;
    font-size: 24px;
    text-transform: uppercase;
}

.menu{
    background: teal;           
    overflow: hidden;
    position: sticky;                              
    z-index: 1000;               
    text-align: left;
    top: 0;

}

.menu a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;

}
.menu a:hover{
    background-color: #555555 ;
}

.video-container{
    position: relative;
    z-index: -1;
    top: 0px;
}

.video-container iframe{
    width: 100%;
    height: 90vh;
}

.content{
    padding: 0px 24px;
    text-align: justify;
    font-size: 20px;
}