.judul {
    margin: 10px 15px;
    padding: 5px 0;
    background: cyan;
    border-radius: 15px;  
}
h1 {
    color: blue;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 2px 2px #555;
}

.konten {
    margin: 10px 15px;
    padding: 10px;
    background: #ecfa91;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 12px;
    border-radius: 15px;
}

.konten_grid{
    margin: 10px;
    padding: 0 10px;
    background: #90e07e;
    grid-column: 1 / span 3;
}

ul{
    list-style-type: none;
    padding: 10px;
}

li{
    margin: 10px 0;
    background: green;
    padding: 10px;
}

.konten_text{
    margin: 10px;
    padding: 10px;
    background: #90e07e;
    grid-column: 4 / span 9;
}

#logo {
    display: block;
    margin: auto;
    width: 30%;
}

p{
    color: #0b872c;
}

.copyr{
    margin: 10px 15px;
    padding: 5px 0;
    background: #e3b059;
    border-radius: 15px;
}

h3{
    color: #b03f25;
    text-align: center;
    font-family: monospace;
}